<section class="services" id="services">
    <div class="content">
      <div class="title"><span>My Education<svg xmlns="http://www.w3.org/2000/svg" width="30" height="20"
        fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
        <path
          d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
        <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
      </svg></span></div>
      <div class="boxes">
        <div class="box">
          <div class="icon">
            <a href="PDFs\ProvisionalDegreeCertificate.pdf" type="application/pdf">
              <i class="fas fa-desktop" style="font-size: 22px;"></i>
            </a>
          </div>

          <div class="topic">B.E. in Computer Engineering</div>
          <p>2019-2023</p>
          <b>
            <p>CGPA: 9.22</p>
          </b>
          <h4>
            <p>Dhole Patil College of Engineering, Pune</p>
          </h4>
          Affiliated to
          <h4>
            <p>Savitribai Phule Pune University (SPPU)</p>
          </h4>


        </div>
        <div class="box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard"
              viewBox="0 0 16 16">
              <path
                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
              <path
                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z" />
            </svg>
          </div>
          <div class="topic">Higher Secondary Certificate (HSC)</div>
          <p>2017-2019</p>
          <b>
            <p>S.M. Joshi College, Pune</p>
          </b>
          Affiliated to
          <h4>
            <p>Savitribai Phule Pune University (SPPU)</p>
          </h4>
        </div>
        <div class="box">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mortarboard"
              viewBox="0 0 16 16">
              <path
                d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5ZM8 8.46 1.758 5.965 8 3.052l6.242 2.913L8 8.46Z" />
              <path
                d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Zm-.068 1.873.22-.748 3.496 1.311a.5.5 0 0 0 .352 0l3.496-1.311.22.748L8 12.46l-3.892-1.556Z" />
            </svg>
          </div>
          <div class="topic">Secondary School Certificate (SSC)</div>
          <p>2017</p>
          <b>
            <p>JSPM's Cygnet Public School, Pune</p>
          </b>
        </div>
      </div>
    </div>
  </section>