<section class="cert" id="cert">
  <div class="content">
    <div class="title"><span>Certifications <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20"
          fill="currentColor" class="bi bi-motherboard" viewBox="0 0 16 16">
          <path
            d="M11.5 2a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5Zm2 0a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5Zm-10 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6Zm0 2a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6ZM5 3a1 1 0 0 0-1 1h-.5a.5.5 0 0 0 0 1H4v1h-.5a.5.5 0 0 0 0 1H4a1 1 0 0 0 1 1v.5a.5.5 0 0 0 1 0V8h1v.5a.5.5 0 0 0 1 0V8a1 1 0 0 0 1-1h.5a.5.5 0 0 0 0-1H9V5h.5a.5.5 0 0 0 0-1H9a1 1 0 0 0-1-1v-.5a.5.5 0 0 0-1 0V3H6v-.5a.5.5 0 0 0-1 0V3Zm0 1h3v3H5V4Zm6.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2Z" />
          <path
            d="M1 2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-2H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 9H1V8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6H1V5H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 2H1Zm1 11a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v11Z" />
        </svg></span></div>
    <div class="boxes">
      <div class="box">
        <div class="list-group" id="list-tab" role="tablist"><br>
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
            href="https://www.linkedin.com/learning/certificates/af5b2ec5d96677381c71598069c68966079d7cea7f513e1b7c53be6c090d176f"
            role="tab" aria-controls="list-home" target="none"> Cloud Computing: Core Concepts</a><small>- LinkedIn
            Learning</small> <i class="fab fa-linkedin"></i><br><br>

          <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
            href="https://www.linkedin.com/learning/certificates/cc9a4a1fd3d8fd8c57b57f0b7e5ee88c91a27d31274d0b19f9f8b22879253080"
            role="tab" aria-controls="list-messages" target="none">Become a Data Analyst</a> <small>-
            LinkedIn Learning</small> <i class="fab fa-linkedin"></i><br><br>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
            href="https://www.linkedin.com/learning/certificates/26b31aec2f95e8271238a67a8d7cebd0e9a5dc9aae5dafbf796176b6f706829f"
            role="tab" aria-controls="list-settings" target="none">Master SQL Development</a><small> - LinkedIn
            Learning</small> <i class="fab fa-linkedin"></i>
        </div>
      </div>
    </div>

  </div>
</section>