<section class="exp" id="exp">
    <div class="content">
        <div class="title"><span>Experience <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20"
                    fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                    <path
                        d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                </svg></span></div>


        <div class="boxes">
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </div>
                <div class="topic" ><strong>Graduate SDE (Software Development Engineer)</strong> </div>
                <div class="align">
                    <strong>
                        <p class="fon" style="display: flex; justify-content: center; align-items: center;">Maveric Systems Limited</p>
                    </strong><br>
                    <li>Actively participating in an intensive training program focused on Java, Spring Boot, Angular,
                        React,
                        and DevOps technologies within the BankTech domain.
                    <li>Learning and applying Java programming principles, best practices, and design patterns to
                        develop robust
                        and efficient software solutions.
                    <li>Acquiring expertise in frontend development by working with both Angular and React, aiming to
                        create
                        user-friendly and interactive web interfaces.
                    <li>Embracing DevOps methodologies to optimize the software development lifecycle, including
                        continuous
                        integration, continuous delivery, and containerization practices.
                    </li><br>
                </div>

            </div>
        </div>


        <div class="boxes">
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </div>
                <div class="topic"><strong>Cloud Engineer (AWS) | Internship</strong> </div>
                <div class="align">
                    <strong>
                        <p class="fon" style="display: flex; justify-content: center; align-items: center;">F13 Technologies</p>
                    </strong><br>
                    <li>Effectively managed and operated AWS' core services, such as EC2, SageMaker, and S3 storage
                        solutions,
                        during my internship
                    <li>Actively engaged with AWS engineers to acquire in-depth knowledge of AWS services and
                        troubleshooting
                        techniques.
                    <li>Developed a tailored Migration Strategy to guide the Indian Railway System (IRS) in their cloud
                        migration journey using AWS Services.
                    <li>Implemented various tools and technologies commonly utilized by AWS customers and gained
                        practical
                        insights into Cloud Technology through simulated scenarios.
                    </li><br>
                </div>
            </div>
        </div>

        <div class="boxes">
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </div>
                <div class="topic"><strong>Business Intelligence Analyst | Internship</strong> </div>
                <div class="align">
                    <strong>
                        <p class="fon" style="display: flex; justify-content: center; align-items: center;">iNeuron Intelligence Pvt Ltd</p>
                    </strong><br>
                    <li>Designed a data model for heart disease diagnostic analysis using Python, incorporating relevant
                        parameters.
                    <li>Conducted analysis using the developed data model, revealing a 45.87% prevalence of heart
                        disease among
                        individuals, with a higher occurrence in males and older individuals.
                    <li>Developed an interactive dashboard using MS Power BI, showcasing seven distinct data models and
                        incorporating four filter options for enhanced user experience.
                    </li><br>
                </div>
            </div>
        </div>

        <div class="boxes">
            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </div>
                <div class="topic"><strong>Computer Vision | Internship</strong> </div>
                <div class="align">
                    <strong>
                        <p class="fon" style="display: flex; justify-content: center; align-items: center;">The Sparks Foundation</p>
                    </strong><br>
                    <li>Trained & evaluated algorithms for static & real-time facial recognition with an overall
                        accuracy of
                        92%.
                    <li>Developed a custom Image processing algorithms using TensorFlow.
                    <li>Created an Open-CV based Deep Learning Classifier, which can be used for detecting Objects.
                    </li><br>
                    <div>
                    </div>
                </div>
            </div>


            <div class="box">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </div>
                <div class="topic"><strong>Content Writer | Internship</strong> </div>
                <p class="fon"><strong>Eco Impulse Pvt Ltd.</strong> </p>
                <div class="two">
                    <li>Research on Robotic Design.
                    <li>Writing Blogs on Robotic Products</li>
                    <li>Understanding Architecture of SCR-01 Robot.
                    </li><br>
                </div>

                <div>
                </div>
            </div>
        </div>
        </div>
        </section>