<section class="skills" id="skills">
    <div class="content">
        <div class="title"><span>My Skills</span></div><br>
        <div class="skills-details">
            <div class="text">
            </div>
            <div class="boxes">
                <div class="box">
                    <div class="topic">Python</div>
                    <progress id="file" max="100" value="70"> 70% </progress>
                </div>
                <div class="box">
                    <div class="topic">Java</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">SQL</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">Machine Learning</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">Deep Learning</div>
                    <progress id="file" max="100" value="70"> 70% </progress>
                </div>
                <div class="box">
                    <div class="topic">Natural Language Processing</div>
                    <progress id="file" max="100" value="70"> 70% </progress>
                </div>
                <div class="box">
                    <div class="topic">Angular</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">JPA</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">LaTeX</div>
                    <progress id="file" max="100" value="80"> 80% </progress>
                </div>
                <div class="box">
                    <div class="topic">HTML</div>
                    <progress id="file" max="100" value="70"> 70% </progress>
                </div>
                <div class="box">
                    <div class="topic">CSS</div>
                    <progress id="file" max="100" value="60"> 60% </progress>
                </div>
                <div class="box">
                    <div class="topic">JavaScript</div>
                    <progress id="file" max="100" value="50"> 50% </progress>
                </div>
                <div class="box">
                    <div class="topic">TypeScript</div>
                    <progress id="file" max="100" value="50"> 50% </progress>
                </div>
            </div>
        </div>
    </div>
</section>