section .title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  
  section .title span{
    color: #200e31;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
  }
  section .title span::before,
  section .title span::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    left: 0;
    bottom: 0;
  }
  section .title span::after{
    /* bottom: -7px; */
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  




.ach h4{
    border-style: outset;
    border-radius: 50px;
    border-color: #00cbda;
    border-width: 5px;
    text-align: center;
    padding: 10px 10px;
  }


  .but{
    background-color: #00cbda;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }


  
  
  
  
  
  .ach .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  .ach .boxes .box{
    margin: 20px 0;
    width: calc(300% / 3 - 20px);
    text-align: center;
    border-radius: 50px;
    padding: 30px 10px;
    box-shadow: 0 0 30px rgb(246, 130, 59);
    cursor: default;
    transition: all 0.4s ease;
  }
  .ach .boxes .box:hover{
    background: linear-gradient(90deg, hsla(192, 96%, 50%, 1) 0%, hsla(65, 92%, 54%, 1) 100%);
    color: rgb(0, 0, 0);
  }
  
  .ach .boxes .box:hover .topic,
  .ach .boxes .box:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
  }
  .ach .boxes .box:hover .topic,
  .ach .boxes .box:hover p{
    color: rgb(10, 10, 10);
  }